// Import Core Library
  @import '../bower_components/normalize-scss/_normalize';
  @import '../bower_components/dashing-core/sass/dashing-core.scss';
  @import '../bower_components/dashing-grid/sass/dashing-grid.scss';

// Import component styling
  @import '../sass/dashing-icons.scss';


.icon-grid {
  border: 2px solid transparent;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 1rem;
  float: left;
  &:hover {
    border: 2px solid $gray-100;
  }
}

.button-icon {
  @extend .icon-grid;
  border-color: $gray-100;
  border-radius: 50px;
  cursor: pointer;
  margin: 0 1rem 0 0;
  padding: 0.5rem;
  &:hover {
    border-color: $gray-200;
  }
}

hr {
  border: 0;
  border-top: 2px solid $gray-100;
}
